body{
    background-color: #1b262c;
    color: #fdcb9e;
    margin: 0;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
}

h1{
  margin: 60 auto 60 auto;
  color: white;
  font-family: 'Sofia', cursive;
  font-size: 5.625rem;
  padding-bottom: 50px;
}

h2{
  font-family: 'Miriam Libre', sans-serif;
  color: #00b7c2;
  font-size: 3rem;
  font-weight: normal;
}
h3{
  font-family: 'Dosis', sans-serif;
  font-size: 2rem;
}

p{
  font-size: 1.5rem;
}

.top-container{
  background-color: #00b7c2;
  position:relative;
  padding-top:100px;
  margin-bottom: 0;
  border-bottom: 0;
  line-height: 1;
}

.profile{
  padding-bottom: 30px;
}

.skills{
  padding-top: 50px;
  /*background-color: #0f4c75;*/
}

.middle-container{
  
}

.bottom-container{
  padding-top: 30px;
  background-color: #00b7c2;
  color: #1b262c;
  margin-bottom: 0;

}


#topcloud{
  position:absolute;
  left: 60%;
  top: 10%;
}

#bottomcloud{
  position:absolute;
  right:70%;
  bottom:40%;
}

#mountain{
  margin-bottom: 0;
}

.skill-row{
  width:60%;
  margin: 100px auto 100px auto;
  text-align: left;  
}

.python-img{
  width:25%;
  margin-left:20px;
  float: left;
}

.webd-img{
  width:25%;
  margin-left:20px;
  float : left;
}

.uhr{
  /*background-color: whitesmoke;*/
  border-style: none;
  border-top-style:dotted;
  border-width:10px;
  border-color: #00b7c2;
  width:10%;
  height: 2px;
  margin-top:60px;
  margin-bottom:0;
  
}

.lhr{
  /*background-color: whitesmoke;*/
  border-style: none;
  border-top-style:dotted;
  border-width:10px;
  border-color:  #fdcb9e;
  width:10%;
  height: 2px;
  margin-top:0;
  
}
.profile-pic{
  width:15%;
}

.contact-me{
  padding-top: 100px;
  padding-bottom: 100px;
}

.cntct-btn {
  background: #0F4C75;
  background-image: -webkit-linear-gradient(top, #0F4C75, #1B262C);
  background-image: -moz-linear-gradient(top, #0F4C75, #1B262C);
  background-image: -ms-linear-gradient(top, #0F4C75, #1B262C);
  background-image: -o-linear-gradient(top, #0F4C75, #1B262C);
  background-image: -webkit-gradient(to bottom, #0F4C75, #1B262C);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  height: 14px;
  line-height: 14px;
  color: #FDCB9E;
  font-family: monospace;
  width: 185px;
  font-size: 26px;
  font-weight: 100;
  padding: 15px;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.cntct-btn:hover {
  border: solid #FDCB9E 5px;
  background: #0F4C75;
  background-image: -webkit-linear-gradient(top, #0F4C75, #1B262C);
  background-image: -moz-linear-gradient(top, #0F4C75, #1B262C);
  background-image: -ms-linear-gradient(top, #0F4C75, #1B262C);
  background-image: -o-linear-gradient(top, #0F4C75, #1B262C);
  background-image: -webkit-gradient(to bottom, #0F4C75, #1B262C);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  text-decoration: none;
}

.footer-link{
  color: #1b262c;
  font-size: 1.25rem;
  margin: 0 10px 0 10px;
  text-decoration: none;
}

.footer-link:hover{
  color: white;
  font-size: 1.5rem;
}