body{
    font-family: 'Flamenco', sans-serif;
    background-color: #e8e2d7;
    color: #e6e6e6;
}

.sitebrand{
    font-size: 4.5rem;
    font-weight: 999;
    padding-left: 4rem;
    }
.intro-heading{
    font-size: 5rem;
    font-weight: 900;
    
}

.navbar{
    background-color: #512314;
}

.container-fluid{
    padding: 3% 10% 3% 10%;
    color: #512314;
    
}

.sitenavlinks{
    font-size: 2rem;
    padding-right: 4rem;
}

.navbar-item{
    margin: auto 0.5rem;
}

.navbar{
    padding-top: 2rem;
    padding-bottom: 1.3rem;
}

.dropdown-menu{
    font-size: 1.35rem;
    background-color: #e8e2d7;
}

.dropdown-item:hover{
    background-color: #F76E11;
}

.front-text{
    margin-top: 2.5rem;
}

#deals{
    text-align: center;
    background-color: rgb(81, 35, 20);
    color: #e6e6e6;
    margin-right: 0%;
}

.carousel{
    margin-right: 0%;
}

.carousel-item{
    padding: 0% 0% 0%;
    margin-right: 0%;
}

.deal-text{
    width:75%;
    font-size: 3rem;
}

.deal-image{
    width: 100%;
    height: 600px;
    object-fit: cover;
}


.menu-heading{
    margin-top: 3%;
    font-size: 3rem;
    font-weight: bolder;
}


.card{
    background-color: #e8e2d7;
    border: 0px;
    text-align: center;
}

.card-title{
    font-size: 1.75rem;
    font-weight: 700;
}

.card-text{
    font-size: 1.35rem;
    font-weight: 400;
}



.card-deck{
    margin-top: 5%;
}


.card-img-top{
    align-self: center;
    width: 85%;
    height: 300px;
    object-fit: cover;
}

.btn-outline-dark{
    width:75%;
    align-self: center;
    border-color: #512314;
    border-width: 2px;
    font-size: 1.5rem;
    font-weight: 900;
    /* border-width: 10px; */
    color:#512314;

}

.btn-outline-dark:hover{
    background-color: #512314;
    color:#e6e6e6;
}

.cta{
    background-color: #512314;
    color:#e6e6e6;
}

.dl{
    margin-top: 4%;
    text-align: right;
}
.dl-btn{
    font-size: 1.7rem;
    margin-top: 2%;
    width: 30%;
    border-color:#e6e6e6;
    color: #e6e6e6;
}

.dl-btn:hover{
    border-color: #F76E11;
}

#footer{
    font-size: 1.15rem;
    text-align: center;
    margin: 3% auto 2%;
    color: #512314;
}

.social-links{
    text-align: center;
    margin: 0 auto 1.5%;
}

.link-tabs{
    margin: auto 0.5rem;
    width: 2rem;
}





@media (max-width:767px){
    .sitebrand{
        font-size: 3rem;
        padding-left: 2rem;
    }
    .dropdown-item{
        font-size: 1.2rem;
    }

    .intro-heading{
        font-size: 2.5rem;
        text-align: center;
    }

    .front-text{
        text-align: center;
    }

    .deal-image{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .cta{
        background-color: #512314;
        color:#e6e6e6;
        font-size: 2.5rem;
    }
    
    .dl{
        margin-top: 4%;
        text-align: center;
        font-size: 1.2rem;
    }
    .dl-btn{
        font-size: 1.7rem;
        margin-top: 2%;
        width: 50%;
        border-color:#e6e6e6;
        color: #e6e6e6;
    }

}